<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sonOmeter.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="sonOmeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="sbpRecordMarker.Text" value="statusBarPanel4"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <sonOmeter.Settings2>
      <setting name="Setting2" serializeAs="String">
        <value>dfgdsfg</value>
      </setting>
    </sonOmeter.Settings2>
    <sonOmeter.Properties.Settings>
      <setting name="mruList" serializeAs="String">
        <value>mru
        </value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>&lt;GlobalSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;SrcEllipsoid Name="Bessel" A="6377397.155" B="6356078.963" /&gt;
            &lt;DstEllipsoid Name="WGS84" A="6378137" B="6356752.3142451793" /&gt;
            &lt;SrcDatum DX="583" DY="68.2" DZ="399.1" RZ="1.2343356321048786E-05"
              Sc="1.0000105201106715" Name="DHDN" /&gt;
            &lt;DstDatum Name="WGS84" /&gt;
            &lt;ExportSonarType&gt;Void&lt;/ExportSonarType&gt;
            &lt;SECL&gt;
              &lt;SonarEntryConfig SonarID="0" XmlSonarColor="Cyan"  VolumeWeight="10" /&gt;
              &lt;SonarEntryConfig SonarID="1" XmlSonarColor="Lime"   VolumeWeight="15" /&gt;
              &lt;SonarEntryConfig SonarID="2" XmlSonarColor="Yellow"  VolumeWeight="22" /&gt;
              &lt;SonarEntryConfig SonarID="3" XmlSonarColor="Orange"   VolumeWeight="33" /&gt;
              &lt;SonarEntryConfig SonarID="4" XmlSonarColor="Magenta"   VolumeWeight="47" /&gt;
              &lt;SonarEntryConfig SonarID="5" XmlSonarColor="Red"  VolumeWeight="68" /&gt;
              &lt;SonarEntryConfig SonarID="6" XmlSonarColor="Black"  VolumeWeight="100" /&gt;
            &lt;/SECL&gt;
            &lt;Arch Depth="0.1" Active="false" StopAtStrongLayer="false" /&gt;
            &lt;colors /&gt;
          &lt;/GlobalSettings&gt;</value>
      </setting>
      <setting name="UseNewRecordWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frmExport3D_CreateFileZ" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frmExport3D_CreateFileC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frmExport3D_CreateFileV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frmExport3D_CreateFileB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frmExport3D_CoordTypeLALO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="frmExport3D_SonarTypeNF" serializeAs="String">
        <value>False</value>
      </setting>
    </sonOmeter.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
